<section>
    <div class="row">
        <!-- Card -1-->
        <div class="col-xl-3 col-sm-6 col-6 mb-2">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="align-self-center">
                            <i class="fas fa-envelope fa-4x"></i>
    
                        </div>
                        <div>
                            <h3>0</h3>
                            <p class="mb-0">Total</p>
                        </div>
    
                    </div>
    
                </div>
    
            </div>
        </div>

        <!-- Card 02 -->
        <div class="col-xl-3 col-sm-6 col-6 mb-2">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="align-self-center">
                            <i class="fas fa-envelope-open-text fa-4x"></i>
    
                        </div>
                        <div>
                            <h3>0</h3>
                            <p class="mb-0">READ</p>
                        </div>
    
                    </div>
    
                </div>
    
            </div>
        </div>
           

        <!-- Card 03-->
        <div class="col-xl-3 col-sm-6 col-6 mb-2">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="align-self-center">
                            <i class="fas fa-mail-bulk fa-4x"></i>
    
                        </div>
                        <div>
                            <h3>0</h3>
                            <p class="mb-0">UNREAD</p>
                        </div>
    
                    </div>
    
                </div>
    
            </div>
        </div>

        <!-- Card 04 -->
        <div class="col-xl-3 col-sm-6 col-6 mb-2">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="align-self-center">
                            <i class="fas fa-bell fa-4x"></i>
    
                        </div>
                        <div>
                            <h3>0</h3>
                            <p class="mb-0">TODAY</p>
                        </div>
    
                    </div>
    
                </div>
    
            </div>
        </div>
            
    </div> <!--End /// row-->
</section>