{% extends 'base.html' %}
<!--===title of the browser-->
{% block title %}
Login
{% endblock title %}

<!--=====Nav Hamburger content=====-->
{% block sidebar-content %}
<a href="{% url 'home' %}" class="btn btn-secondary btn-sm">Home</a>
{% endblock sidebar-content %}


<!--====page content===-->
{% block content %}

<div class="container mt-5" id="card-login">
    <div class="card p-3 login-border">
        <span class="text-center mt-3 text-pulse " ><strong >Login</strong></span>
        <form method="POST" >
            {% csrf_token %}
            <div class="input-group mt-2 mt-2">
                <input type="text" class="form-control" placeholder="Username"{{form.username}}
                
            </div>
            <div class="input-group mt-2 mt-2">
                <input type="password" id="login-form-password" class="form-control" placeholder="Password"{{form.password}}
                
            </div>
            <div class="form-check form-switch mt-2" >
                <div style="float: right;">
                <svg id="Layer_1" onclick="togglePass()" data-name="Layer 1" width="25" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><title></title><path d="M320,256a64,64,0,1,1-64-64A64.07,64.07,0,0,1,320,256Zm189.81,9.42C460.86,364.89,363.6,426.67,256,426.67S51.14,364.89,2.19,265.42a21.33,21.33,0,0,1,0-18.83C51.14,147.11,148.4,85.33,256,85.33s204.86,61.78,253.81,161.25A21.33,21.33,0,0,1,509.81,265.42ZM362.67,256A106.67,106.67,0,1,0,256,362.67,106.79,106.79,0,0,0,362.67,256Z"/></svg>
                <svg  id="Layer_2" onclick="togglePass()" data-name="Layer 2" width="25" xmlns="http://www.w3.org/2000/svg" style='display: none' viewBox="0 0 512 512"><title></title><path d="M409.84,132.33l95.91-95.91A21.33,21.33,0,1,0,475.58,6.25L6.25,475.58a21.33,21.33,0,1,0,30.17,30.17L140.77,401.4A275.84,275.84,0,0,0,256,426.67c107.6,0,204.85-61.78,253.81-161.25a21.33,21.33,0,0,0,0-18.83A291,291,0,0,0,409.84,132.33ZM256,362.67a105.78,105.78,0,0,1-58.7-17.8l31.21-31.21A63.29,63.29,0,0,0,256,320a64.07,64.07,0,0,0,64-64,63.28,63.28,0,0,0-6.34-27.49l31.21-31.21A106.45,106.45,0,0,1,256,362.67ZM2.19,265.42a21.33,21.33,0,0,1,0-18.83C51.15,147.11,148.4,85.33,256,85.33a277,277,0,0,1,70.4,9.22l-55.88,55.88A105.9,105.9,0,0,0,150.44,270.52L67.88,353.08A295.2,295.2,0,0,1,2.19,265.42Z"/></svg>
                
                </div>
            </div>
            <div class="d-grid gap-2 mt-2">
                <input  class="btn  btn-sm mt-4 mb-3 text-white" id="btn-enter" type="submit" value"Enter" >
            </div>
            

        </form>
        <center class="mt-3 mb-3">
            <i class="bx bxs-hot bx-tada fa-2x " style="color: #d3d3d3;"></i>
        </center>

    
    </div>
</div>
 <!---3#### End content ######-->
{% endblock content %}