{% extends 'base.html' %}
<!--===title of the browser-->
{% block title %}
Login
{% endblock title %}

<!--=====Nav Hamburger content=====-->
{% block sidebar-content %}
<a href="{% url 'home' %}" class="btn btn-secondary btn-sm">Home</a>
{% endblock sidebar-content %}


<!--====page content===-->
{% block content %}
<div class="container mt-5" id="card-login">
    <div class="card p-4">
        <span class="text-center mt-3"><strong>RESTRICTED ACCESS</strong></span>
        <form method="POST" >
            {% csrf_token %}
            <div class="input-group mt-2 mt-4">
                <input type="text" class="form-control" placeholder="Username"{{form.username}}
                
            </div>
            <div class="input-group mt-2 mt-4">
                <input type="password" class="form-control" placeholder="Password"{{form.password}}
                
            </div>
            <div class="form-check form-switch mt-3">
                <input type="checkbox" class="form-check-input" style="float: right;">
            </div>
            <div class="d-grid gap-2 mt-3">
                <input  class="btn btn-success btn-sm mt-4 mb-3" type="submit" value"Enter">
            </div>

        </form>
    </div>
</div> <!---3#### End content ######-->
{% endblock content %}