{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--=====Bootstrap5 css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!--====FontAwesome old version 5.15.4======-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--====Boxicons-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


    <!--===Favicon=====-->
    {% comment %} <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"> {% endcomment %}



    <!--===Logo=====-->
    <link rel="shortcut icon" href="{% static 'img/gmail_logo.ico' %}">

    

    

    <!--===Static css =====-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    
    



    <title>
        {% block title %}
        {% endblock title %}
    </title>
</head>
<body >
    
    <div class="wrapper ">
        {% block image %}
        <style>
            body{
                background-image: url("/static/img/cat-bg.gif");
                background-possitions: center 0px;
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
                background-opacity: 0.5;
                

            }
        </style>
        {% endblock image %}
        


        <!-- navbar-->
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <!--===nav title and logo (content 1)=====-->
                <div class="col-sm">
                    <a href="{% url 'home' %}" class="navbar-brand flex-grow-1" style="color: white; margin-left:25px;" >
                        {% block navtitle %}
                        <i class='bx bxs-hot bx-tada bx-flip-vertical'></i>&nbsp;<span>Codestreak Co.</span>
                        {% endblock navtitle %}
                    </a>
                </div>
                <!--===nav center Date and time (content 2)=====-->
                {% block datetime %}{% endblock datetime %}



                <!--===nav Humberger (content 3)=====-->
                <div class="col-sm">
                    
                    <a  class="navbar-brand flex-grow-1" id="btn-nav" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                        <i class="fas fa-bars" ></i>
                    </a>
                   
                </div>
            </nav>
        </header>

        <!-- ===block content (root) ===-->
        {% block content %}
        {% endblock content %}

        

    </div>
    <!--===End wrapper====-->

    <!---=====SideBar (bootstrap offcanvas)============-->
    

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">MENU</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="d-grid gap-2">
            <!--=== sidebar content =====-->
            {% block sidebar-content %}
            <a href="{% url 'inbox' %}" class="btn btn-success">Login</a>
            {% endblock sidebar-content %}
            <!--=====end sidebar content-->
            <hr><br>
            <center class="mt-5">
                <i class="bx bxs-hot bx-tada bx-flip-vertical" style="color: #e9e9e9; font-size: 150px;"></i>

            </center>
        </div>
    </div>
    </div>



    <!--=====footer========-->
    <footer class="bg-dark text-center text-lg-start" id="footer" style="color: white;">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            &copy; {% now "Y" %} Copyright:
            <a href="#" class="text-light" style="text-decoration: none;">
                <span class="color: #8abaae;">www.codestreak.in</span>
            </a>
        </div>
    </footer>

    <!--====== INCLUDES =======-->
    {% include 'modals/logout.html' %}
    {% include 'modals/message.html' %}



    <!--===Message from backend (login)====-->
    {% if form.errors %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        swal("Denied !", "Enter your data correctly.", "info")


    </script>
    {% endif %}

    <!--===Message from backend (success to all project)====-->
    {% for message in messages  %}
    {% if message.tags == 'success' %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        var m = "{{message}}"
        swal("Perfect !", m, "success")


    </script>

    {% endif %}
    {% endfor %}









    <!--====Bootstrap5 js bundle-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!--=====Jquery=====-->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

    <!--===InputMask version 5.0.7=====-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.7/jquery.inputmask.min.js" integrity="sha512-jTgBq4+dMYh73dquskmUFEgMY5mptcbqSw2rmhOZZSJjZbD2wMt0H5nhqWtleVkyBEjmzid5nyERPSNBafG4GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!--===Typed Js=====-->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

    <!--====SweetAlert (front end)=====-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!--===Static Js =====-->
    <script src="{% static 'js/script.js' %}"></script>


    <!--====Typed Effect control =====-->
    {% block typed %}
    <script>
        var typed = new Typed('#element', {
            strings:[
            'are the coders',
            'make websites',
            'help business',
            'offer free samples',
            ],
            typeSpeed: 50,
            backSpeed: 80,
            loop: true
        })

    </script>
    {% endblock typed %}

    <!--=====Function to pulse text to login page ============= -->
    <script>
        (function pulse() {
            $('.text-pulse').fadOut(1000).fadeIn(1000, pulse);
        })(); 
        
    </script>

    <!--============function to hide/show password ========-->
    <script>
        var x = document.getElementById("login-form-password");   // Input
        var s = document.getElementById("Layer_1");               // Show pass
        var h = document.getElementById("Layer_2");               // Hide pass

        function togglePass() {
            if (x.type === "password") {
                x.type = 'text';
                s.style.display = 'none';
                h.style.display = 'inline';
            } else {
                x.type = 'password';
                s.style.display = 'inline';
                h.style.display = 'none';
            }   
        }

    </script>


    <!-- Script to close offcanvas when is button is clicked -->
    <script>
        jQuery('#offcanvasRight, .offcanvas-body a').click(function(){
            console.log($(this).attr('href'));
            jQuery('.offcanvas').offcanvas('hide');
        });
    </script>



    
</body>
</html>