{% extends 'base.html' %}
<!--===title of the browser-->
{% block title %}
Home
{% endblock title %}

<!--====page content===-->
{% block content %}
<!--====Typed Effect=====-->
<div class="block-position">
    <h1 class="text-light typed-text">We
        <span id="element" style="color: #8abaae;"></span>
    </h1>
</div>

<!--Message-->
<div>
    <button  style="background-color: #5ca08e;" class="btn text-light pulse" data-bs-toggle="modal" data-bs-target="#messageModal">
        <i class="bx bxs-envelope fa-2x"></i>
    </button>
</div> 

{% endblock content %}